<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=DESKTOP-730F8FU\SQLEXPRESS;Database=QuanLyThuPhiNuocSach;user=DESKTOP-730F8FU\Dell;Trusted_Connection=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
